<script setup lang="ts">
import { mdiHeartOutline } from "@mdi/js";
import { mdiAccountCircle } from "@mdi/js";
import { mdiBookAccount } from "@mdi/js";
</script>

<template>
  <v-container></v-container>
  <v-container>
    <v-row class="justify-center">
      <v-avatar size="250" rounded="0">
        <v-img
          class="justify-center"
          src="https://media.discordapp.net/attachments/919239999751327837/1053992602682265630/IMG_6990_Original.jpg"
        ></v-img>
      </v-avatar>
    </v-row>
  </v-container>
  <v-container>
    <v-card
      loading
      title="ประวัติส่วนตัว"
      text="ชื่อ-นามสกุล : ปราเมธ ตาลอ่อน"
      variant="tonal"
    >
      <v-card-actions>
        <v-btn><v-icon :icon="mdiAccountCircle" /></v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
  <v-container>
    <v-card
      loading
      title="ประวัติการศึกษา"
      text="จบการศึกษาจาก โรงเรียนบางกอกวิทยา(มูลนิธิ) ปัจจุบันศึกษาอยู่ที่ มหาวิทยาลัยบูรพา"
      variant="tonal"
    >
      <v-card-actions>
        <v-btn><v-icon :icon="mdiBookAccount" /></v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
  <v-container>
    <v-card
      loading
      title="สิ่งที่เราสนใจ"
      text="ตอนนี้สึกฟุตบอลโลกกำลังทำการแข่งขันกันอย่างดุเดือด จนตอนนี้มาถึงรอบชิงชนะเลิศแล้วระหว่าง อาเจนติน่ากับฝรั่งเศส นี่คือสิ่งที่ผมใจจดใจจ่อเป็นอย่างมาก และอยากทราบผลแล้วว่า ใครกันแน่ที่เป็นแชมป์ฟุตบอลโลก 2022 กันแน่!!!"
      variant="tonal"
    >
      <v-card-actions>
        <v-btn><v-icon :icon="mdiHeartOutline" /></v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
